body {
  background-color: #004b8d;
}

/***************** Navigation styling********************************/

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

main {
  margin-top: 5.2rem;
}

p,
li {
  font-size: 1.2em;
}

.whiteBackground {
  background-color: white;
}

.dot {
  color: white;
}

.center {
  margin: auto;
  width: 100%;
}

/******************** Slide background and gradient backgrounds **********************/

/* Slide4's background */

.imgBg1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/image004.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}

/* Slide 5's background */
.imgBg2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../img/image005.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}

/* Slide 6's background */
.imgBg3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/image008.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}

.imgBg4 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 75, 141, 0.8),
      rgba(0, 75, 141, 0.8)
    ),
    url(../img/home-image-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right;
  min-height: 13rem;
}

.imgBg5 {
  background-image: linear-gradient(
      to bottom,
      rgba(194, 194, 194, 0.4),
      rgba(194, 194, 194, 0.4)
    ),
    url(../img/retail-choice.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: justify;
  min-height: 100%;
}

/* Slide 7's background */
.imgBg6 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../img/palms.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}

.imgBg7 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/lngTanker.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}
.imgBg8 {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../img/rig2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}
.imgBg9 {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../img/testimonials.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}

.imgBg10 {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../img/gasDist.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 100%;
}

.imgBg11 {
  background-image: url(../img/pipeline-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 16rem;
}

.imgBg12 {
  background-image: url(../img/retail-marketing.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: justify;
  min-height: 20rem;
  background-color: #004b8d;
}

.imgBg13 {
  background-image: url(../img/retail-marketing-cta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: justify;
  min-height: 100%;
}

.imgBg14 {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url(../img/rig3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 25rem;
}

.imgBg15 {
  background-image: url(../img/upstream-cta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: justify;
  min-height: 25rem;
}

.imgBg16 {
  background-image: linear-gradient(
      to top,
      rgba(0, 75, 141, 0.85),
      rgba(0, 75, 141, 0.85)
    ),
    url(../img/midstream.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 25rem;
}

.imgBg17 {
  background-image: url(../img/midstream-cta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  min-height: 25rem;
}

.imgBg18 {
  background-image: url(../img/vector-logo-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 25rem;
  background-color: #004b8d;
}

.imgBg19 {
  background-image: url(../img/solutions-lp.jpg);
  background-color: #004b8d;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: start;
  min-height: 25rem;
}

/* Background gradient colors for masking */

.darkGradient {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
}
.lightGradient {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
}

.lightGradient2 {
  background-color: rgba(255, 255, 255, 0.55);
  color: black;
}

.dropdown-header {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  background-color: #004b8d;
}

.blue-bg {
  background-color: #004b8d;
}

/************* END of Slide background and gradient backgrounds *****************/

/******************* Font , Link, Shadow, UL and LI styling**********************/

.blue-text {
  color: #004b8d;
}

.lightblue-text {
  color: #1a94ff;
}

.white-text {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0);
}

.link {
  text-decoration: none;
}

.link:on-hover {
  font-weight: bold;
}

.link-white {
  color: white;
  text-decoration: none;
}
.link-white:hover {
  font-weight: bold;
  color: rgb(255, 247, 0);
}

.centerImg {
  display: flex;
  justify-content: center;
  width: 250px;
}

.cardshadow {
  box-shadow: 2px 2px 5px #004b8d;
}

.newscard {
  height: 14rem;
  box-shadow: 2px 2px 5px #004b8d;
}

.imgShadow {
  box-shadow: 2px 2px 5px #004b8d;
}

.bottom-margin {
  margin-bottom: 300px;
}

.bg-lighter-blue {
  background: #e5edef;
}

.blue-dots li {
  background-color: rgb(232, 232, 232);
  border-radius: 20px;
  margin-top: 50px;
  padding: 5px;
}

.no-bullets {
  list-style-type: none;
}

/***************** RESPONSIVE section for mobile and tablet and smaller views *****************/

@media (max-width: 1850px) {
  .imgBg12 {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(../img/retail-marketing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    min-height: 20rem;
  }
}

@media (max-width: 25em) {
  .carousel {
    top: 2rem;
  }

  .imgBg5 {
    background-image: linear-gradient(
      to bottom,
      rgba(194, 194, 194, 0.4),
      rgba(194, 194, 194, 0.4)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: justify;
    min-height: 100%;
  }

  .imgBg12 {
    background-image: linear-gradient(to bottom, #004b8d, #004b8d);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: justify;
    min-height: 100%;
  }
}

@media (max-width: 912px) {
  .carousel {
    top: 2rem;
  }

  .imgBg5 {
    background-image: linear-gradient(
      to bottom,
      rgba(194, 194, 194, 0.4),
      rgba(194, 194, 194, 0.4)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: justify;
    min-height: 100%;
  }

  .imgBg12 {
    background-image: linear-gradient(to bottom, #004b8d, #004b8d);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: justify;
    min-height: 100%;
  }
}

@media (max-width: 50rem) {
  .imgBg12 {
    background-color: #004b8d;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/********************** MODAL formatting **********************/

.modal-title {
  color: black;
}

.modal-body {
  color: black;
  text-align: justify;
  word-spacing: normal;
}

/**********Footer section*************************************/

footer {
  margin-top: 5rem;
}
